<form action="/search">
    <div class="field has-addons">
        <div class="control is-expanded">
            <label for="q" class="is-hidden">Search</label>
            <input class="input is-medium" type="text" name="q" id="q"
                   placeholder="Search Medieval Manuscripts"
                   autofocus="autofocus"
                   data-autocomplete-enabled="false"
                   data-autocomplete-path="/suggest">
        </div>
        <div class="control">
            <a class="keyboardInputInitiator button is-medium fa fa-keyboard"></a>
        </div>
        <div class="control">
            <button class="button is-medium fa fa-search"></button>
        </div>
    </div>
</form>
<a class="advanced-button-button" href="/advanced">ADVANCED SEARCH</a>
