{% extends "base.html" %}

{% block content %}
    <div class="content">
        <h2>About us</h2>
        <h3>Scope</h3>

        <p>
            This catalogue provides descriptions of all known Western medieval manuscripts in the Bodleian Library, and
            of medieval manuscripts in selected Oxford colleges (currently Christ Church). It is the result of a project
            generously funded by the Tolkien Trust.
        </p>
        <p>
            “Western” denotes manuscripts written in Latin, Greek, and the European vernaculars (including Slavonic
            languages). “Medieval” denotes manuscripts written before approximately 1500 and includes papyri from the
            classical period. The distinction between “medieval” and “renaissance” or “early modern” manuscripts
            naturally varies according to region and subject-matter and is frequently a matter of judgement. We have
            aimed towards an inclusive treatment.
        </p>
        <p>
            “Manuscripts” as traditionally understood in the Bodleian include some documentary materials, but the
            Bodleian’s collections of charters and rolls (i.e. manuscripts whose shelfmarks begin “MS. Ch.” or “MS.
            Rolls” or “MS. Pedigree Rolls”) are not currently included in this catalogue. For details of finding aids
            for these materials, see <a href="http://libguides.bodleian.ox.ac.uk/medieval-sc/deeds"
                                        target="_blank">here</a>.
        </p>
        <p>
            For general information on the Bodleian’s medieval manuscript collections, see <a
                href="http://libguides.bodleian.ox.ac.uk/medieval-sc" target="_blank">here</a>.
        </p>

        <h3>The descriptions</h3>
        <p>
            MOST OF THE RECORDS IN THIS CATALOGUE DO NOT CONTAIN DETAILED MODERN MANUSCRIPT DESCRIPTIONS. The bulk of
            the descriptions are summary entries, which were mostly created between 2002 and 2004 for the Library’s
            previous Electronic Catalogue of Medieval and Renaissance Manuscripts, with funding from the Getty Grant
            Program. These summaries in turn are based primarily on descriptions in the Quarto and Summary Catalogues
            (published between 1853 and 1924) as well as on descriptions in O. Pächt and J.J.G. Alexander, <i>Illuminated
                                                                                                              Manuscripts
                                                                                                              in the
                                                                                                              Bodleian
                                                                                                              Library
                                                                                                              Oxford</i>,
            3 vols. (Oxford, 1966-1973) and Irmgard Hutter, <i>Corpus der byzantinischen Miniaturenhandschriften, I:
                                                               Oxford, Bodleian Library</i>, 3 vols. in 4 (Stuttgart:
            Hiersemann, 1977-1982), and some other supplementary sources.
        </p>
        <p>
            These descriptions are linked to reproductions of the original Summary and Quarto catalogue entries, and are
            designed to be used in conjunction with the original descriptions. They were designed to provide searchable
            summaries of a manuscript’s content, decoration, material, date and origin rather than a full description.
            On occasion, however, the records here do provide information on texts, authors, dating and localization
            which supplement or correct the descriptions given in the original catalogue entries.
        <p>
            For some manuscripts (selected items in MSS. Add., Ashmole, Barlow, Bodl., Canon., E. D. Clarke, D’Orville,
            Fr., Kennicott, Lat., Montagu, Rawl.), full descriptions of decoration are also provided. These were made
            possible by generous support from the Samuel H. Kress Foundation and the Paul Mellon Centre for Studies in
            British Art.
        </p>
        <p>
            Detailed modern descriptions are available for manuscripts acquired since 1916. These records have been
            adapted from typescript descriptions compiled by Library staff throughout the twentieth century, unpublished
            and previously only for consultation in the Library itself. They relate to manuscripts from the following
            collections: MSS Broxbourne, Dep., Don., Douce, Dutch, Eng. hist., Eng. misc., Eng. poet., Eng.th., Finch,
            French, Germ., Gr., Ital., Kennicott, Lat. bib., Lat. class., Lat. hist., Lat. liturg., Lat. misc., Lat.th.,
            Radcliffe Trust, Span., Top.
        </p>
        <p>
            Detailed descriptions for other collections have been adapted from the following sources:
        </p>

        <ul>
            <li>MSS Barocci (selected items): unpublished descriptions by Nigel Wilson, 1970s;</li>
            <li>MSS. Buchanan: P. Kidd, <i>Medieval Manuscripts from the Collection of T. R. Buchanan in the Bodleian
                                           Library, Oxford</i> (2001);
            </li>
            <li>MSS. Bywater: unpublished descriptions by Peter Kidd, late 1990s;</li>
            <li>MSS. Holkham misc.: unpublished draft descriptions by Peter Kidd, late 1990;</li>
            <li>Christ Church MSS.: Ralph Hanna and David Rundle, <i>A Descriptive Catalogue of the Western Manuscripts,
                                                                     to c. 1600, in Christ Church, Oxford</i> (Oxford,
                2017).
            </li>
        </ul>

        <h3>The bibliographies</h3>
        <p>
            The records are linked to a bibliographical database which is hosted on the open-source platform Zotero.
            This database is based on the library’s card index of bibliographical references (<a
                href="http://libguides.bodleian.ox.ac.uk/medieval-sc/bodleyrefs" target="_blank">‘Bodley Refs’</a>)
            which has been maintained since the late nineteenth century. It currently includes references created during
            the period 1992 to 2014. References created before 1992 and after 2014 will be added in due course. The
            database may also be searched via the <a href="https://www.zotero.org/bodleianwmss/items" target="_blank">Zotero
                                                                                                                      interface</a>.
        </p>

        <h3>Using the catalogue</h3>
        <p>
            Please bear in mind the limitations of the catalogue.
        </p>

        <ol>
            <li>
                Since it incorporates the work of Pächt and Alexander, it provides a reliable overview of decoration in
                the Bodleian’s manuscripts (reflecting the state of knowledge c. 1966-73 ). It reliably records types of
                decoration (e.g. border, initial) and the names of artists. For some collections it provides a good
                record of iconography;
            </li>
            <li>
                It provides a reliable overview of the date, origin, material and language of each manuscript, subject
                always to the limitations of the catalogues that were drawn on. Records relating to collections that
                were catalogued some time ago and have not been revised (Ashmole, Canonici, Rawlinson) should be treated
                with greater caution;
            </li>
            <li>
                It provides a partial view of the textual content of the collections. The level of detail depends both
                on the quality of the original printed catalogue descriptions and the quantity of texts in the
                manuscript. Manuscripts with a small number of well-known texts are typically well described.
                Manuscripts with a large number of texts, especially lesser-known ones, tend to have more summary and
                less helpful descriptions (e.g. “Theological treatises”, “Medical treatises”).
            </li>
            <li>
                Via the Zotero bibliography it provides a sound guide to scholarship on the collections (currently only
                1992 to 2014) as recorded by the library’s staff; of course, though, this is not a full record of
                publications;
            </li>
            <li>
                For manuscripts acquired before 1916, it provides little information about owners and little
                codicological detail.
            </li>
        </ol>
        <p></p>

        <h3>Technical details</h3>

        <p>
            The manuscript descriptions and authority files are encoded in XML according to the guidelines of the Text
            Encoding Initiative (<a href="http://www.tei-c.org/index.xml" target="_blank">TEI</a>). The manuscript
            descriptions conform to a customization used by all the Bodleian’s TEI catalogues. Full documentation for
            the encoding will be made available in due course. The XML, together with processing software, is stored in
            a publicly accessible <a href="https://github.com/bodleian/medieval-mss" target="_blank">repository</a>. We
            have not yet determined a licence for the use of this data; please contact us to discuss any use that is not
            for personal research.
        </p>
        <p>
            The website was developed by staff at Bodleian Digital Library Systems and Services. The XML records are
            indexed using <a href="https://lucene.apache.org/solr/" target="_blank">Solr</a> and displayed using the
            open-source discovery platform <a href="http://projectblacklight.org/" target="_blank">Blacklight</a>.
        </p>
        <h3>Future development</h3>
        <p>
            Work on the catalogue is ongoing. We plan to: enrich the contents of the records; add bibliography prior to
            1992; improve functionality; link to other online resources; and add records from other Oxford colleges as
            they become available.
        </p>


        <h3>Version details</h3>
        <p>This is version 1.0, release date 4 August 2017</p>
    </div>
{% endblock %}
