{% extends "base.html" %}

{% block content %}
<div id="static-page">
    <h2>Terms of use</h2>

    <h3>About this licence</h3>
    <p>This user licence sets out the terms on which you may use the content on the Medieval Manuscripts website, unless otherwise stated in the content’s individual terms of access. For the purposes of this user licence, content means any material (in any format) that the University makes available to you to access and print or download on or through the Medieval Manuscripts website from time to time. By copying or using any content, you confirm that you accept the conditions of this user licence.</p>
    <p>This user licence does not grant any rights to use the names, logos or trademarks of either the University of Oxford or the Bodleian Libraries, unless expressly stated otherwise.</p>

    <h3>Permitted use of content</h3>
    <p>You may print off or download any content only for non-commercial purposes, including but not limited to private study, research, or teaching and instruction within an educational establishment, under the following terms:</p>

    <ul>
        <li>If the permitted use of the content involves any distribution, dissemination or communication of the content (by any means or process) to another person, you must (wherever possible) acknowledge the source of the content, linking where possible to the Medieval Manuscripts site as the source of the content;</li>
        <li>You may not remove any copyright, trademark or other proprietary notices including attribution metadata, credits and notices, that are placed in or near the text, images or data.</li>
    </ul>

    <p>Further copyright, data protection and privacy laws may still apply to content. You must comply with all terms or restrictions other than copyright (such as trademark, publicity and privacy rights, or contractual restrictions) as may be specified in the metadata or as may otherwise apply to the Content. This licence does not affect your freedom under fair dealing or any other copyright or database right exceptions and limitations that might apply to your use.</p>

    <h3>Prohibited use of content</h3>
    <p>You must not use any part of the content for commercial purposes, except as permitted by statutory exceptions and limitations to copyright. For the purposes of this user licence, commercial purposes means any use of the content that is primarily intended for or directed toward commercial advantage or monetary compensation. This includes any use on or in anything that is itself charged for, is connected with something that is charged for or is intended to make a profit.</p>
    <p>In addition, you must not:</p>
    <ul>
        <li>subject the content to distortion, mutilation or other derogatory treatment of the author in accordance with the Copyright Designs and Patents Act 1988 or of the Bodleian Libraries;</li>
        <li>use any content in a manner which may suggest that you are part of, or otherwise associated with, the University of Oxford, or any other body associated with it;</li>
        <li>or use any part of the content for purposes which might adversely affect the image, reputation, goodwill, distinctiveness or prestige of the University of Oxford or the Bodleian Libraries or its collections.</li>
    </ul>


    <h3>Duration of permission</h3>
    <p>If you use any content in breach of the terms of this user licence, your right to use the Medieval Manuscripts website will cease immediately and you must destroy any copies of the content you have made.</p>

    <h3>Copyright owners</h3>

    <p>The University makes reasonable efforts to ensure that the reproduction of the content on the Medieval Manuscripts website is done in accordance with applicable copyright laws. If, however, you are concerned that part of the content is included on the Medieval Manuscripts website in breach of applicable copyright laws, please see our <a href="http://digital.bodleian.ox.ac.uk/takedown.html" target="_blank">Take Down Policy</a>.</p>
</div>
{% endblock %}