@import 'partials/variables';
@import 'partials/mixin';

.aside-filter,.aside-filter .panel-heading,.aside-filter.facet_limit-active .panel-heading
{
    color: #002147;
    background-color: #fff;
    border-color: #ddd;
    margin-bottom: -1px!important;
}

.aside-filter
{
    @include respond-to($mobile)
    {
        margin-bottom: 0 !important;
    }
}

.panel-group .panel + .panel
{
    margin-top: 0;
}

.panel-body
{
    border-top-color: #ddd!important;
}

.top-panel-heading.panel-heading
{
    padding: 10px 5px 0 5px;
    margin-top: 10px;
    @include respond-to($mobile)
    {
        padding: 5px 5px 0 5px;
    }
}

.panel-heading .panel-title
{
    padding: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.panel-heading .panel-title:after
{
    color: #002147;
}

.panel-heading.collapse-toggle .panel-title:after
{
    color: #002147;
}

.aside-filter.facet_limit-active .panel-title:after
{
    color: #002147;
}

.facet-label
{
    text-indent: 0 !important;
}

.facet-values li .selected
{
    color: #337ab7;
    font-weight: 600;
}

.index_title
{
    color: #337ab7 !important;
    font-weight: 600 !important;
    font-size: 1rem !important;

    @include respond-to($mobile)
    {
        font-size: 1.3rem !important;
    }
    a
    {
        font-size: 1.18rem !important;
    }
}

.search-widgets a, #startOverLink
{
    font-size: 1rem;
}

.search-widgets a:active
{
    box-shadow: none;
    -webkit-box-shadow:none;
}

.document-metadata.dl-horizontal.dl-invert > *
{
    @include respond-to($mobile)
    {
        font-size: 1.2rem;
    }
}

.advanced.form-horizontal
{
    .input-criteria, .query-criteria, #advanced_search, .advanced-search-field
    {
        width: 100%;
    }

    .advanced-search-field
    {
        margin:
        {
            left:0;
            right: 0;
        }

        .col-sm-9
        {
            padding-right: 0;
            width: 80%;
        }

        .col-sm-3
        {
            width: 20%;
        }
    }
}

.advanced.page-header .advanced-search-start-over
{
    display: none;
}

.advanced .btn
{
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 2px;
    box-shadow:none;
}

.advanced #sort
{
    width: 130px;
    height: 40px;
    cursor: pointer;
    padding: 0 12px;
    font-size: 1.1rem;
    border-radius: 2px;
    box-shadow:none;
}

.advanced .btn.advanced-search-start-over,.advanced #sort
{
    border: 1px solid #ccc;
}

.advanced .form-control
{
    height: 40px;
}

.advanced .limit-criteria,.advanced .query-criteria
{
    margin-bottom: 3rem!important;
}

header select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    //@extend %border-outline;
}

#keyboardInputMaster input[type="checkbox"]
{
    display: none;
}

dl
{
    margin-bottom: 10px;
}

.facet-values .facet-label
{
    font-size: 1.1rem;
    padding-bottom: 0;

    @include respond-to($desktop)
    {
        font-size: 0.8rem;
    }
    padding-left: 0!important;
    padding-right: 0!important;
}

.facet-values .facet-count
{
    width: 5em !important;
}
